<h1> Carte à deviner</h1>

<form [formGroup]="guessDateForm" (ngSubmit)="onSubmit(guessDateForm.value)">
  <input id="guessedDate" type="number" formControlName="date" placeholder="Entrez la date" value="0" min="0" max="3000"step="1">
  <button class="button" type="submit">DEVINER</button>
</form>

<div class="cards">
  <h2>{{card.name}}</h2>
  <img src="{{card.imageUrl}}">
  <h3>{{card.description}}</h3>
</div>
<div>
  <button class="button" type="submit" (click)="passCard()">Passer cette carte</button>
</div>

<h1> Cartes trouvées</h1>

<div class="foundCards">
  <div *ngFor="let cardFound of cardsFounds">
    <h2>{{cardFound.name}}</h2>
    <h3>{{cardFound.date}}</h3>
    <img src={{cardFound.imageUrl}}>
    <h3>{{cardFound.description}}</h3>
  </div>
</div>
