
<h1>Timeline</h1>

<section>
  <form [formGroup]="editTimelineForm" (ngSubmit)="onSubmit(editTimelineForm.value)">

    <div>
      <label for="name">Nom : </label>
      <input id="name" type="text" formControlName="name" placeholder="{{timelineAMod.name}}">
    </div>

    <div>
      <label for="category">Catégorie : </label>
      <input id="category" type="text" formControlName="category" placeholder="{{timelineAMod.category}}">
    </div>

    <div>
      <h3>Date de dernière mise à jour : {{timelineAMod.updateDate}}</h3>
    </div>
    <button class="button" type="submit">Modifier</button>

  </form>
</section>

<h1>Liste des cartes</h1>
<button class="button" type="submit"><a [routerLink]="['/ajoutCard']">Créer une nouvelle carte</a></button>

<section>
  <div *ngFor="let card of cards; index as cardId">
    <div class="cards">
      <h2>{{card.name}}</h2>
      <img src='{{card.imageUrl}}'>
      <h3>{{card.description}}</h3>
    </div>
    <div>
      <button class="button" type="submit"><a [routerLink]="['/editCard']" (click)="modifyTimelineCard(card, cardId)">Modifier</a></button>
      <button class="button" type="submit" (click)="deleteTimelineCard(cardId)">Supprimer</button>
    </div>
  </div>
</section>
