<h1> Carte à modifier</h1>

<div class="cards">
  <h2>{{card.name}}</h2>
  <img src="{{card.imageUrl}}">
  <h3>{{card.description}}</h3>
</div>

<form [formGroup]="cardForm" (ngSubmit)="onSubmit(cardForm.value)">
        <label for="name">
                Nom
        </label>
        <input id="name" type="text" formControlName="name" placeholder={{card.name}}>
        <label for="date">
                Date au format : AAAA-MM-JJ
        </label>
        <input id="date" type="text" formControlName="date" placeholder={{card.date}}>
        <label for="imgUrl">
               Lien HTTP vers l'image
        </label>
        <input id="imgUrl" type="text" formControlName="imgUrl" placeholder={{card.imageUrl}}>
        <label for="description">
                Description
         </label>
        <input id="description" type="text" formControlName="description" placeholder={{card.description}}>
        <button class="button" type="submit">VALIDER</button>
</form>
      
