/* You can add global styles to this file, and also import other style files */
app-topbar h1{
    text-align: center;
    color:purple;
}
app-topbar h2{
    text-align: center;
    color:white;
    background-color: pink;
    border:1px solid black;
    border-radius: 10px;
    width : 80%;
    justify-content: center;
    align-items: center;
    color:gray;
    height: 40px;
}
app-topbar div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
app-timeline-list section{
    text-align: center;
}
app-timeline-list button{
    background-color: pink;
    width: 200px;
    height: 50px;
    color: black;
    font-size: 1.2em;
    margin:20px;
}  
app-timeline-list td, th{
    border: 1px solid purple;
    justify-content: center;
    text-align: center;
    color:purple;
    
}
app-timeline-list table
{
    border-collapse: collapse; 
    width:96%;
    margin: 10px;
    color: purple;
}  
app-timeline-cards h1 {
    text-align: center;
    color:purple;
  }
  
  app-timeline-cards h2 {
    text-align: center;
    color:purple;
  }
  
  app-timeline-cards h3 {
    text-align: center;
    color:purple;
  }
  
  app-timeline-cards div img {
    margin: auto;
    width: 30%;
    height: 30%;
  }

  app-timeline-cards form {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
  }
  
  app-timeline-cards form input {
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
  }

 
  app-timeline-cards form button {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  app-timeline-cards .cards {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 25%;
    height: 300px;
    background-color: lightgrey;
  }
  
  app-timeline-cards .foundCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .foundCards div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 5px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: lightgrey;
  }
  
  .foundCards div h2, h3, img {
    display: flex;
    flex-direction: column;
  }
  
  
  app-timeline-cards div div img {
    margin: auto;
    width: 30%;
    height: 30%;
  }

  app-timeline-edit h1 {
    text-align: center;
    color:purple;
  }
  
  app-timeline-edit h2 {
    text-align: center;
    color:purple;
  }
  
  app-timeline-edit section div div h3 {
    text-align: center;
    color:purple;
  }
  
  app-timeline-edit section div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  app-timeline-edit section button {
    width: 10%;
    margin: 0px 10px;
  }
  
  app-timeline-edit section div .cards {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 5px;
    /*margin-left: auto;
    margin-right: auto;*/
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    width: 25%;
    height: 300px;
    background-color: lightgrey;
  }
  
  app-timeline-edit section div div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  app-timeline-edit section div div button {
    margin: 0px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  app-timeline-edit div div img {
    margin: auto;
    width: 30%;
    height: 30%;
  }

  app-timeline-card-edit .cards {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 25%;
    height: 300px;
    background-color: lightgrey;
  }
  app-timeline-card-edit form {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-left: auto;
    margin-right: auto;

  }
  app-timeline-card-edit h1{
    text-align: center;
  }
  app-timeline-card-edit h2 {
    text-align: center;
    color:purple;
  }

  app-timeline-card-edit h3 {
    text-align: center;
    color:purple;
  }

  app-timeline-card-edit div img {
    margin: auto;
    width: 30%;
    height: 30%;
  }
  app-timeline-card-edit form input {
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px; 
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  app-timeline-card-edit form input #imgUrl{
    width: fit-content;
  }
  app-timeline-card-edit form label {
    border : 1px solid black;
    border-radius: 10px;
    background-color: pink;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 60%;
  }

  app-timeline-card-edit form button {

    background-color: aquamarine;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
    width: 10%;
    align-items: center;
  }
  app-card-ajout .cards {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 25%;
    height: 300px;
    background-color: lightgrey;
  }
  app-card-ajout form {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-left: auto;
    margin-right: auto;

  }
  app-card-ajout h1{
    text-align: center;
  }
  app-card-ajout h2 {
    text-align: center;
    color:purple;
  }

  app-card-ajout h3 {
    text-align: center;
    color:purple;
  }

  app-card-ajout form input {
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px; 
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  aapp-card-ajout form input #imgUrl{
    width: fit-content;
  }
  app-card-ajout form label {
    border : 1px solid black;
    border-radius: 10px;
    background-color: pink;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 60%;
  }

  app-timeline-card-edit form button {

    background-color: aquamarine;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
    width: 10%;
    align-items: center;
  }